# Dependencies & Environments
node_modules/
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
*.pytest_cache

# Uploads & User Media
uploads/photos/*
!uploads/photos/.gitkeep

# Build outputs
frontend/dist/
dist/
.vercel/

# Environment variables
.env
*.env
!.env.example

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

